.logoWrapper {
  display: inline-flex;
  align-items: center;
  gap: 45px;
  color: #ffffff;
}

:global(body.theme-light) .logoWrapper {
  color: #1a1523;
}

.logoWrapper svg {
  display: block;
}

.letterIcon {
  display: inline-flex;
}

.logoText {
  font-family: "Roboto", "Segoe UI", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 76px;
  line-height: 1;
  letter-spacing: 0px;
  text-align: center;
}

@media (max-width: 600px) {
  .letterIcon {
    display: none;
  }
}
